.arival__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em;
  gap: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.arival__heading {
  font-size: 30px;
  font-weight: 700;
}

.item__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.item__container:hover .product__frt__svg {
  right: 0.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item__container__filter:hover .product__frt__svg {
  right: 0.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product__frt__svg {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 0 30px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product__frt__svg:hover {
  background-color: white;
  color: black;
}

.item__container__img {
  width: 310px;
  height: 400px;
}

.item__container__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__container__name {
  font-size: 14px;
  font-weight: 500;
  padding: 0.3em 1em;
}

.item__container__price {
  font-size: 14px;
  font-weight: 600;
  padding: 0.3em 1em;
}

.item__container__wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__main__banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__main__banner video {
  width: 100%;
}

.shop__main__banner img {
  width: 100%;
}

.shop__products__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em;
  gap: 1em;
  position: relative;
}

.shop__products__filter__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding: 1.5em;
  margin-top: 1em;
  -webkit-box-shadow: white 0px 0px 10px;
          box-shadow: white 0px 0px 10px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.shop__filter__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
  font-size: 16px;
  font-weight: 500;
}

.shop__filter__heading span {
  font-size: 20px;
  font-weight: 700;
}

.shop__products__items {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__container__filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin-top: 1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shop__filter__items {
  width: 100%;
  margin-top: 1em;
}

.shop__filter__item {
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  margin: 0.5em 0;
  padding: 0.7em 0;
  border: 1px solid rgba(70, 68, 68, 0.322);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.shop__filter__item:hover {
  border: 1px solid #eb4a4a;
  cursor: pointer;
  background-color: #eb4a4a;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.shop__filter__item__active {
  border: 1px solid #eb4a4a;
  cursor: pointer;
  background-color: #eb4a4a;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.shop__price__range {
  width: 100%;
}

.shop__price__range__heading {
  font-size: 16px;
  font-weight: 700;
  margin: 0.5em 0;
  color: #eb4a4a;
}

.shop__price__range input {
  width: 100%;
}

.price__entry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__price__range__input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.shop__price__range__input[type="range"]:hover {
  opacity: 1;
}

.shop__price__range__input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #eb4a4a;
  cursor: pointer;
  border-radius: 50%;
}

.item__filter__container__img {
  width: 100%;
  height: 400px;
}

.item__filter__container__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detial__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
}

.detial__container__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.deatail__imgs__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.deatail__imgs__entry {
  width: 90px;
  height: 90px;
}

.deatail__imgs__entry img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.detail__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.detail__content__heading {
  font-size: 16px;
  font-weight: 700;
  margin: 0.5em 0;
  text-decoration: underline;
}

.detail__content__entry {
  font-size: 12px;
  color: #777474;
  font-weight: lighter;
  padding: 0.5em 0;
}

.detail__content__entry span {
  font-weight: 500;
  color: black;
}

.detial__container__col__main__image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detial__container__name {
  font-size: 18px;
  font-weight: 700;
}

.detial__price__entry {
  width: 100%;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detial__price {
  font-weight: 700;
}

.detial__price__free {
  color: #eb4a4a;
  font-size: 12px;
}

.detail__size__title {
  font-size: 14px;
  font-weight: 600;
}

.detail__size__wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.8em 0;
}

.detail__size__entry {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding: 0.8em;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-color: transparent;
}

.detail__size__entry__active {
  background-color: #eb4a4a;
  color: white;
}

.detail__size__entry:hover {
  background-color: #eb4a4a;
  color: white;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.detail__quantity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.detail__quantity__title {
  font-size: 14px;
  font-weight: 700;
}

.detail__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.6em;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
}

.detail__value__inc {
  cursor: pointer;
  background-color: transparent;
  padding: 0.4em 1em;
  border: none;
}

.detail__value__num {
  padding: 0.4em 1em;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

.add__cart__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 1em;
  cursor: pointer;
}

.add__cart__btn:hover {
  background-color: #eb4a4a;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.disclaimer__title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 2em;
}

.disclaimer__detail {
  font-size: 12px;
  color: #777474;
  font-weight: lighter;
  padding: 0.5em 0;
}

.detial__container__col__mobile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.detial__container__col__main__image__mobile {
  display: none;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 950px) {
  .item__container__filter {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 180px;
            flex: 1 1 180px;
  }
  .item__filter__container__img {
    height: 300px;
  }
}

@media (max-width: 800px) {
  .detial__container__col {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .deatail__imgs__wraper {
    gap: 0.7em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .detial__container__col__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detial__container__col__main__image__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detial__container__col__main__image {
    display: none;
  }
  .detial__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop__products__filter__wraper {
    position: static;
  }
  .shop__products__container {
    padding: 1em;
  }
  .shop__products__items {
    width: 100%;
  }
  .shop__products__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop__products__filter__wraper {
    width: 100%;
  }
  .shop__filter__item {
    font-size: 14px;
    width: 20%;
    min-width: 150px;
    margin: 0.4em;
  }
  .shop__filter__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .shop__filter__item {
    width: 100%;
    font-size: 12px;
  }
  .deatail__imgs__entry {
    width: 60px;
    height: 60px;
  }
}
/*# sourceMappingURL=Products.css.map */